.header {
  &-banner {
    .banner-image {
      background: #1d71ab;
      background: linear-gradient(to right, #1d69bd 40%, #1d69bd 50%, #1d69bd 60%);
      text-align: center;
    }
  }

  &-menu {
    padding: 1rem 0;

    .navbar {
      padding: 0;
      .navbar-brand {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
        }
      }

      .collapse {
        .form-inline {
          width: 100%;

          .form-control {
            border-radius: .3rem 0 0 .3rem;
            height: 2.5rem;
            width: 80%;
          }

          button {
            height: 40px;
            color: rgb(74, 74, 74);
            font-size: 14px;
            font-weight: 400;
            padding: 0 1rem;
            height: 2.5rem;
            background: rgb(237, 238, 242);
            border-radius: 0 .3rem .3rem 0;
            outline: none;
          }
        }
      }

      .navbar-items {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 1.6rem;

        >i {
          font-size: 1.3rem;
          margin-right: .5rem;
        }

        >span {
          line-height: 1rem;
          font-size: .8rem;
          font-weight: 500;
        }

        &-login {
          position: relative;
          cursor: pointer;

          &:hover {
            .navbar-items-dropdown {
              display: block;
            }
          }
        }

        &-dropdown {
          display: none;
          border: 1px solid rgb(239, 239, 239);
          background: rgb(255, 255, 255);
          width: auto;
          min-width: 196px;
          z-index: 15;
          list-style: none;
          margin: 0px;
          padding: 10px 0px;
          border-radius: 0px 0px 3px 3px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
          position: absolute;
          top: 45px;
          left: calc(50% + 10px);
          transform: translateX(-50%);

          &::before {
            border-width: 9px;
            border-style: solid;
            border-color: transparent transparent rgb(255, 255, 255);
            border-image: initial;
            margin-left: -9px;
            bottom: 100%;
            left: 50%;
            content: " ";
            height: 0px;
            width: 0px;
            position: absolute;
            pointer-events: none;
          }

          &::after {
            content: " ";
            background: transparent;
            height: 20px;
            width: 150px;
            top: -20px;
            left: calc(50% - 65px);
            position: absolute;
            display: inline-block;
          }

          &-btn {
            color: rgb(74, 74, 74);
            background: rgb(253, 216, 53);
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            border: 0px;
            white-space: nowrap;
            padding: 0px;
            font-size: 15px;
            border-radius: 4px;
            user-select: none;
            margin: 5px 12px;
            width: 236px;
            height: 41px;
            line-height: 41px;
            outline: none;
            text-shadow: rgb(171, 171, 171) 0px 0px 1px;

            &:hover {
              opacity: 85%;
            }
            span {
              display: block;
              float: left;
              height: 41px;
              width: 41px;
              border-right: 1px solid rgba(0, 0, 0, 0.2);

              i {
                color: white;
                font-size: 20px;
                width: 24px;
                height: 24px;
              }
            }
          }
        }

        &:last-child {
          padding: .3rem 1.2rem;
          margin-right: 0;

          i {
            font-size: 1rem;
          }

          border: 2px solid #fff;
          border-radius: .3rem;
        }
      }
    }

    &-option {
      display: flex;
      padding-top: 5px;
      justify-content: flex-start;
      align-items: center;
      color: #fff;

      .menu-function {
        display: flex;
        align-items: center;

        .menu-list {
          font-size: .9rem;
          font-weight: 600;
        }

        .ship-address {
          display: flex;
          align-items: center;
          width: 170px;
          font-size: .8rem;
          overflow: hidden;

          i {
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
          }

          span {
            display: inline-block;
            max-height: 3rem;
            letter-spacing: .6px;
            line-height: 1rem;
          }
        }

        .seen-pro {
          font-size: .9rem;
          font-weight: 600;

          i {
            font-size: .7rem;
          }
        }

        &_items {
          cursor: pointer;
          margin-right: 3rem;

          i {
            margin-right: .5rem;
          }
        }
      }

      .menu-services {
        display: flex;
        align-items: center;

        a {
          &:hover {
            text-decoration: none;
          }
        }

        &_items {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          span {
            font-size: .9rem;
            color: #fff;
            line-height: 1.2rem;
          }

          img {
            margin-right: .5rem;
            width: 30px;
          }
        }
      }
    }
  }
}
