<header class="header">
  <div class="header-banner">
    <div class="banner-image">
      <img src="./assets/images/338fc866bb0ac27dfd6d11017d381790.jpg">
    </div>
  </div>
  <div class="bg-main">
    <div class="padding-15">

      <div class="header-menu">
        <!-- Image and text -->
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo/logo.png" alt="">
          </a>

          <div class="collapse navbar-collapse">
            <form class="form-inline">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn" type="submit">
                Tìm kiếm
              </button>
            </form>
          </div>
          <a class="navbar-items" routerLink="">
            <i class="fi flaticon-packaging"></i>
            <span>
              Theo dõi
              <br>
              đơn hàng
            </span>
          </a>
          <div class="navbar-items">
            <i class="fi flaticon-notification"></i>
            <span>
              Thông báo
              <br>
              của tôi
            </span>
          </div>
          <div class="navbar-items navbar-items-login">
            <i class="fi flaticon-user"></i>
            <span>
              Đăng nhập
              <br>
              <span style="font-weight:300;">
                tài khoản
              </span>
            </span>
            <div class="navbar-items-dropdown">
              <button class="navbar-items-dropdown-btn">Đăng nhập</button>
              <button class="navbar-items-dropdown-btn">Tạo tài khoản</button>
              <button class="navbar-items-dropdown-btn" style="background:rgb(59, 89, 152);color: white;">
                <span>
                  <i class="fi flaticon-facebook"></i>
                </span>
                Đăng nhập bằng Facebook
              </button>
              <button class="navbar-items-dropdown-btn" style="background:rgb(223, 74, 50);color: white;">
                <span>
                  <i class="fi flaticon-google-plus"></i>
                </span>
                Đăng nhập bằng Google
              </button>
            </div>
          </div>
          <a class="navbar-items" routerLink="">
            <i class="fi flaticon-cart"></i>
            <span>
              Giỏ hàng
            </span>
          </a>
        </nav>

        <div class="header-menu-option">
          <div class="menu-function">
            <div class="menu-list menu-function_items">
              <i class="fi flaticon-menu"></i>
              <span>DANH MỤC SẢN PHẨM</span>
            </div>
            <div class="ship-address menu-function_items">
              <i class="fi flaticon-pin"></i>
              <span>Phường 03, Quận Bình Thạnh, Hồ Chí Minh</span>
            </div>
            <div class="seen-pro menu-function_items">
              <i class="fi flaticon-down-chevron"></i>
              <span>CÁC SẢN PHẨM ĐÃ XEM</span>
            </div>
          </div>

          <div class="menu-services">
            <div class="menu-services_items">
              <img src="assets/images/insignia.png" alt="">
              <span>Sản phẩm <br> chính hiệu</span>
            </div>
            <a class="menu-services_items" routerLink="">
              <img src="assets/images/return-box.png" alt="">
              <span>Đổi trả <br> 30 ngày</span>
            </a>
            <a routerLink=""></a>
            <a routerLink=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
