.load-wrapp {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
}

.load-3 {
  text-align: center;

  p{
    color: var(--main);
  }

  .line {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--main);
    margin-right: 1rem;

    &:nth-last-child(1) {
      animation: loadingC 0.6s 0.1s linear infinite;
    }

    &:nth-last-child(2) {
      animation: loadingC 0.6s 0.2s linear infinite;
    }

    &:nth-last-child(3) {
      animation: loadingC 0.6s 0.3s linear infinite;
    }
  }
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
}