.bg-main {
  background-color: var(--main);
}

.product-detail {
  font-family: 'Roboto', sans-serif;
}

.padding-15 {
  padding-left: 15% !important;
  padding-right: 15% !important;

  @media(max-width: 1366px) {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }

  @media(max-width: 1024px) {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  @media(max-width: 412px) {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
}




.group {
  padding: 20px 0;
}

.border-top {
  border-top: 2px solid var(--border);
}

.border-right {
  border-right: 2px solid #f7f7f7;
}


body {
  background-color: #efefef;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none !important;
}



/* ---------- CHECK BOX ---------- */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ {
				.checkmark {
          background-color: var(--main);
          
          &:after {
						display: block;
					}
				}
			}
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 10px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  /* On mouse-over, add a grey background color */
  &:hover {
    input {
      background-color: #ccc;
    }

    .checkmark {
      background-color: #ccc;
    }
  }
}

.hiden {
  display: none;
}


