.menu {
  margin-bottom: 12px;
  .sub-menu {
    display: flex;
  }

  &-category {
    position: relative;
    width: 20%;

    .menu-item {
      >a {
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 0;
        color: rgb(68, 68, 68);
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0px;
        height: 100%;
      }

      &:hover {
        >a {
          background-color: var(--main);
        }
        .menu-item {
          &-text {
            color: white;
          }

          &-icon {
            i {
              color: white;
              opacity: 100%;
            }
          }
        }

        >a::before {
          z-index: 100;
          display: block;
          content: "";
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: -15px;
          height: 0px;
          margin: auto;
          border-width: 17px;
          border-style: solid;
          border-color: transparent transparent transparent rgb(24, 158, 255);
        }

        .menu-detail {
          display: block !important;
        }

      }

      &:first-child {
        border-top: 1px solid #e1e1e1;
        border-radius: 4px 0 0 0;
      }

      &:last-child {
        border-bottom: 1px solid #e1e1e1;
        border-radius: 0 0 0 4px;
      }

      &-icon {
        display: inline-block;
        width: 40px;
        text-align: center;

        i {
          font-size: 18px;
          color: #444444;
          opacity: 50%;
        }

      }

      .menu-detail {
        z-index: 15;
        height: 562px;
        top: 0;
        left: 248px;
        width: 400%;
        position: absolute;
        display: none;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.06) -2px 0px 8px 0px;
        padding: 14px 20px;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #dddddd #dddddd #dddddd #e1e1e1;
        border-radius: 0px 4px 4px 0px;

        ul {
          display: flex;
          justify-content: space-between;
        }

        &-title,
        &-item {
          font-size: 13px;
          line-height: 22px;
        }

        &-title {
          font-weight: 500;
        }

        &-item {
          font-weight: 400;
        }

        a {
          color: #000;

          &:hover {
            color: var(--main);
          }
        }
      }
    }
  }


  &-banner {
    z-index: 1;
    width: 80%;
    position: relative;
    // top: 0;
    // left: 248px;

    &-body {
      display: flex;

      .slick-btn {
        display: block;
        position: absolute;
        width: 32px !important;
        height: 32px;
        background-color: white;
        top: 29%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        opacity: 40%;
        z-index: 100;

        &-next {
          padding-left: 2px;
          right: 450px;
        }

        &-prev {
          padding-right: 2px;
          left: 10px;
        }

        i {
          font-size: 14px;
        }
      }

      a.active {
        border: 1px solid #dddddd;
        opacity: 100% !important;
      }
    }

    &-slick {
      width: 57%;
    }

    &-right {
      width: 43%;

    }

  }
}


// .slick-dots {
// 	display: flex;
// 	justify-content: center;

// 	margin: 0;
// 	padding: 1rem 0;

// 	list-style-type: none;

// 		li {
// 			margin: 0 0.25rem;
// 		}

// 		button {
// 			display: block;
// 			width: 1rem;
// 			height: 1rem;
// 			padding: 0;

// 			border: none;
// 			border-radius: 100%;
// 			background-color: blue;

// 			text-indent: -9999px;
// 		}

// 		li.slick-active button {
// 			background-color: red;
// 		}

// }
