<section class="section menu">
  <div class="padding-15">
    <div class="sub-menu">
      <ul class="menu-category">
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="fi flaticon-phone-1"></i>
            </span>
            <span class="menu-item-text">Điện Thoại - Máy Tính Bảng</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Xu hướng</span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">Nổi bật</span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Samsung Galaxy S20 Plus</a>
                </span>
                <span class="menu-detail-title">Smartphone chính hãng</span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title"><a href="#">Máy tính bảng</a> </span>
                <span class="menu-detail-title"><a href="#">Phụ kiện điện thoại</a></span>
                <span class="menu-detail-title"><a href="#">Máy đọc sách</a></span>
                <span class="menu-detail-title pt-2">Dịch vụ, Chính sách</span>
                <span class="menu-detail-item">
                  <a href="#">Trung tâm bảo hành chính hãng</a>
                  <a href="#">Hướng dẫn mua trả góp</a>
                  <a href="#">Quy trình đóng gói, giao hàng</a>
                  <a href="#">Quy trình đổi trả và bảo hành</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/18/12/a1/1e040f4531601ba0fe8756bde4048326.jpg"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="fi flaticon-television"></i>
            </span>
            <span class="menu-item-text">Điện Tử - Điện Lạnh</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Ti vi</span>
                <span class="menu-detail-item">
                  <a href="#">Tivi bán chạy</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi mới 2019</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi cao cấp</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Smart Tivi - Android Tivi</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi bán chạy</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Internet Tivi</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi 4k</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi OLED</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tivi QLED</a>
                </span>
                <span class="menu-detail-title pt-2">
                  Âm thanh & Phụ kiện
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Máy lạnh - Máy điều hòa</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy lạnh bán chạy</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy lạnh mới 2019</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy lạnh Inverter</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Máy giặt</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy giặt bán chạy</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy giặt mới 2019</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Máy giặt Inverter</a>
                </span>
                <span class="menu-detail-title">
                  <a href="#">Máy sấy quần áo</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Tủ lạnh</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tủ lạnh bán chạy</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tủ lạnh mới 2019</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Tủ lạnh Inverter</a>
                </span>
                <span class="menu-detail-title">
                  <a href="#">Tủ đông - Tủ mát</a>
                </span>
                <span class="menu-detail-title">
                  <a href="#">Máy nước nóng</a>
                </span>
                <span class="menu-detail-title">
                  <a href="#">Máy rửa chén</a>
                </span>
                <span class="menu-detail-title">
                  <a href="#">Tủ ướp rượu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  Dịch vụ và Bảo hành
                </span>
                <span class="menu-detail-item"><a href="#">Bảo hành - đổi trả</a> </span>
                <span class="menu-detail-item"><a href="#">Lắp đặt tận nhà</a></span>
                <span class="menu-detail-item"><a href="#">Mua trả góp 0%</a></span>
                <span class="menu-detail-title pt-2">
                  Chính hãng thương hiệu
                </span>
                <span class="menu-detail-item"><a href="#">Load dữ liệu</a></span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/91/00/21/8aadde21f6418fab04a05a97220e0c39.jpg"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-headphones"></i>
            </span>
            <span class="menu-item-text">Phụ kiện thiết bị số</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Thiết Bị Âm Thanh</span>

                <span class="menu-detail-title">
                  <a href="#">Tất Cả Tai Nghe</a>
                </span>
                <span class="menu-detail-item">Load dữ liệu</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Tất Cả Loa</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Đeo Thông Minh</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ Kiện Điện Thoại</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Game</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Thiết Bị Mạng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thương Hiệu Nổi Bật</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/91/00/21/8aadde21f6418fab04a05a97220e0c39.jpg"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-laptop"></i>
            </span>
            <span class="menu-item-text">Laptop - Thiết bị IT</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-camera"></i>
            </span>
            <span class="menu-item-text">Máy Ảnh - Quay Phim</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-washing-machine"></i>
            </span>
            <span class="menu-item-text">Điện Gia Dụng</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-frying-pan"></i>
            </span>
            <span class="menu-item-text">Nhà ửa đời sống</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-sprayer"></i>
            </span>
            <span class="menu-item-text">Hàng Tiêu Dùng - Thực Phẩm</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-feeding-bottle"></i>
            </span>
            <span class="menu-item-text">Đồ Chơi, Mẹ & Bé</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-lipstick"></i>
            </span>
            <span class="menu-item-text">Làm Đẹp - Sức Khỏe</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-shirt"></i>
            </span>
            <span class="menu-item-text">Thời trang - Phụ kiện</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-basketball-ball"></i>
            </span>
            <span class="menu-item-text">Thể Thao - Dã Ngoại</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-motorcycle"></i>
            </span>
            <span class="menu-item-text">Xe Máy, Ô tô, Xe Đạp</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-earth-grid"></i>
            </span>
            <span class="menu-item-text">Hàng Quốc Tế</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-book"></i>
            </span>
            <span class="menu-item-text">Sách, VPP & Quà Tặng </span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item">
          <a href="#">
            <span class="menu-item-icon">
              <i class="flaticon-voucher"></i>
            </span>
            <span class="menu-item-text">Voucher - Dịch Vụ - Thẻ Cào</span>
          </a>
          <div class="menu-detail">
            <ul>
              <li class="d-flex flex-column ">
                <span class="menu-detail-title">Dịch Vụ Và Bảo Hành</span>
                <span class="menu-detail-item">Trả góp 0%</span>
                <span class="menu-detail-item">Chính Hãng 100%</span>
                <span class="menu-detail-item">Bão hành tận nhà</span>
                <span class="menu-detail-item">Đổi trả tận nhà</span>
                <span class="menu-detail-title pt-2">
                  <a href="#">LapTop Theo Giá</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Dưới 8 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 8 - 10 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 10 - 15 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Từ 15 - 20 triệu</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Trên 20 triệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Laptop Theo Core</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i3</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i5</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i7</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Intel Core i9</a>
                </span>
              </li>
              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Laptop Chính hãng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
                <span class="menu-detail-title pt-2">
                  <a href="#">Thiết Bị Văn Phòng</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>

              <li class="d-flex flex-column">
                <span class="menu-detail-title">
                  <a href="#">Phụ kiện, Linh kiện máy tính</a>
                </span>
                <span class="menu-detail-item">
                  <a href="#">Load dữ liệu</a>
                </span>
              </li>
              <li class="d-flex flex-column mr-5">
                <a href="#">
                  <img src="https://salt.tikicdn.com/ts/banner/0a/fe/53/3189cb9fa97600ac29bede4eaca3730f.png"
                    style="width: 100%" alt="">
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="menu-banner">
        <div class="menu-banner-body">
          <a class="slick-btn slick-btn-prev" (mouseenter)="checkHover = !checkHover"
            (mouseleave)="checkHover = !checkHover" [class.active]="!checkHover">
            <i class="fi flaticon-left-chevron"></i>
          </a>

          <a class="slick-btn slick-btn-next" (mouseenter)="checkHover = !checkHover"
            (mouseleave)="checkHover = !checkHover" [class.active]="!checkHover">
            <i class="fi flaticon-right"></i>
          </a>
          <div class="menu-banner-slick" (mouseenter)="checkHover = !checkHover"
            (mouseleave)="checkHover = !checkHover">
            <div class="menu-banner-left">
              <a href="#">
                <img src="https://salt.tikicdn.com/cache/w584/ts/banner/9b/74/43/e443fe2296ef47e8908532b7a555d567.jpg"
                  alt="">
              </a>
            </div>
            <div class="menu-banner-left">
              <a href="#">
                <img src="https://salt.tikicdn.com/cache/w584/ts/banner/c0/f5/1a/d8979d76639d8132f1675e5a1a527314.png"
                  alt="">
              </a>

            </div>
            <div class="menu-banner-left">
              <a href="#">
                <img src="https://salt.tikicdn.com/cache/w584/ts/banner/46/54/aa/875ba0ce28e646b8054f466f8a199d68.jpg"
                  alt="">
              </a>
            </div>
          </div>
          <div class="menu-banner-right">
            <img src="https://salt.tikicdn.com/cache/w206/ts/banner/c6/f8/48/44c380b52d8f5491017b4506b111ba9d.png"
              alt="">
            <img src="https://salt.tikicdn.com/cache/w206/ts/banner/65/0c/62/14fb8b63cfb5de38d75457e8bfb0c124.png"
              alt="">
            <img src="https://salt.tikicdn.com/cache/w206/ts/banner/5b/45/9e/c1a2b0fa09703a9d852a782b832c7e65.png"
              alt="">
            <img src="https://salt.tikicdn.com/cache/w206/ts/banner/e1/e7/11/ef38be0b711ddb053642029c47500522.png"
              alt="">
            <img src="" alt="">
          </div>
        </div>
        <div class="menu-banner-footer">
          <img src="https://salt.tikicdn.com/cache/w292/ts/banner/ae/ab/dd/321f0aacc051df326a4126cee2b12390.png" alt="">
          <img src="https://salt.tikicdn.com/cache/w292/ts/banner/a3/4b/35/b3384e2aa3a5a612277c71a792f8338e.png" alt="">
          <img src="https://salt.tikicdn.com/cache/w206/ts/banner/ac/e6/58/bbd9c7471f9dd564e7a13234a1da764b.png" alt="">
          <img src="https://salt.tikicdn.com/cache/w206/ts/banner/4e/8d/85/309cb988a6a1ced7e9e90254898be8be.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
