.cart {
  font-family: 'Roboto', sans-serif;
  margin-top: 16px;

  .cart-products {
    &__title {
      color: #333333;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0px 0px 12px;
    }

    &__count {
      font-size: .9rem;
      text-transform: none;
      font-weight: 300;
    }

    &-inner {
      margin: 0px;
      border-radius: 4px;

      &__group {
        background: rgb(255, 255, 255);
        margin-bottom: 16px;
      }

      &__group-name {
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        padding: 14px 0px 10px 20px;
        cursor: pointer;
        color: rgb(36, 36, 36);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
      }

      &__products {
        list-style: none;
        margin: 0px;
        padding: 0px;

        .product-item {
          padding: 20px;

          &__wrap {
            display: flex;
            flex-wrap: nowrap;

            &-img {
              width: 130px;
              margin-right: 20px;

              img {
                max-width: 100%;
              }
            }

            &-content {
              width: 100%;
            }

            .product-info {
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;

              &_wrap {
                &-name {
                  font-size: .9rem;
                  color: #000;
                  font-weight: 400;

                  &:hover {
                    color: var(--main);
                  }
                }

                &-action {
                  color: var(--main);
                  font-size: .9rem;
                  cursor: pointer;

                  .product-delete {
                    margin-right: 10px;

                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  .product-buy-later {
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              &_details {
                display: flex;
                justify-content: space-between;

                &-prices {
                  text-align: right;
                  margin-right: 25px;

                  .real-prices {
                    margin-bottom: 5px;
                    font-weight: 500;
                    display: inline-block;
                  }

                  .discount-prices {
                    color: var(--light-letter);
                    font-size: .8rem;
                    position: relative;

                    del {
                      margin-right: 16px;
                    }

                    span {
                      color: #000;
                      font-weight: 500;

                      &::before {
                        content: '|';
                        position: absolute;
                        right: 34px;
                      }
                    }
                  }
                }

                &-qty {
                  .qty {
                    display: flex;
                    flex-wrap: nowrap;
                    border: 1px solid #c8c8c8;
                    border-radius: 3px;

                    &-disable {
                      pointer-events: none;
                      background: #f8f8f8;
                    }

                    &-button {
                      display: inline-block;
                      border-right: 1px solid #c8c8c8;
                      color: #999999;
                      padding: 2px 12px;
                      cursor: pointer;
                    }

                    &-increase {
                      border-right: none;
                      border-left: 1px solid #c8c8c8;
                    }

                    &-input {
                      border: none;
                      background: transparent;
                      width: 35px;
                      text-align: center;
                      font-size: 13px;
                      appearance: none;
                      margin: 0px;
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
  }

  &-payment {
    .promotion {
      background-color: #fff;
      padding: 16px;
      font-size: .9rem;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        color: var(--light-letter);

        h6 {
          color: #505050;
          font-size: .9rem;
          margin-bottom: 0;
        }

        span {
          font-size: .8rem;
        }
      }

      &-input {
        color: #0d5cb6;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .total {
      margin: 16px 0;
      background-color: #fff;

      &-origin {
        padding: 17px 20px;
        border-bottom: 1px solid var(--border);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
          color: #333333;
          font-weight: 400;
          font-size: .9rem;
          margin-bottom: 0;
        }

        span {
          font-weight: 500;
        }
      }

      &-pay {
        padding: 17px 20px;
        display: flex;
        justify-content: space-between;
        text-align: right;
        flex-wrap: nowrap;

        h6 {
          color: #333333;
          font-weight: 400;
          font-size: .9rem;
          margin-bottom: 0;
          line-height: 28px;
        }

        span {
          color: #fe3834;
          font-weight: 500;
          font-size: 1.4rem;

          i {
            font-weight: 300;
            font-style: normal;
            display: block;
            font-size: .8rem;
            color: #333333;
            margin-top: 3px;
          }
        }
      }
    }

    .btn-order {
      margin-bottom: 16px;
      font-size: .9rem;
      background-color: #fe3834;
      color: #fff;
      text-align: center;
      width: 100%;
      padding: 10px;

      &:hover {
        opacity: .9;
      }
    }
  }
}

// EMPTY CART 
.cart-empty {
  font-family: 'Roboto', sans-serif;

  .message {
    padding: 20px;
    background-color: #fffbfb;
    border: 1px solid #ff959c;
    padding: 17px 15px;
    border-radius: 4px;
    margin: 0px;
    display: flex;
    span {
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      color: rgb(255, 59, 39);
    }
  }

  .title {
    margin: 16px 0;
    font-size: 1.2rem;

    span {
      font-size: 1rem;
      color: var(--light-letter);
    }
  }

  .cart-content {
    margin-bottom: 10px;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
    
    &_image {
      width: 190px;
    }

    p {
      font-size: .9rem;
    }

    &_continue {
      padding: 5px 55px;
      background-color: #fdd835;
      border-radius: 5px;
      font-weight: 500;
      color: #4a4a4a;
      display: inline-block;

      &:hover {
        text-decoration: none;
        background-color: #fdce03;
      }
    }
  }
}
