<section class="cart">
  <div class="padding-15">
    <div class="row">
      <div class="col-12">
        <div class="cart-products">
          <h2 class="cart-products__title">
            Giỏ hàng
            <span class="cart-products__count">(1 sản phẩm)</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-9 pr-3">
        <div class="cart-inner cart-products">
          <div class="cart-products-inner">
            <div class="cart-products-inner__group">
              <a href="https://tiki.vn/cua-hang/tiki-trading" target="_blank" class="cart-products-inner__group-name">
                <span>Tiki Trading</span>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="20"
                  color="#787878" height="20" width="20" xmlns="http://www.w3.org/2000/svg"
                  style="color: rgb(120, 120, 120);">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                </svg>
              </a>
              <ul class="cart-products-inner__products">
                <li class="product-item">
                  <div class="product-item__wrap">
                    <div class="product-item__wrap-img">
                      <a href="/dien-thoai-iphone-11-64gb-hang-chinh-hang-den-p32033718.html?spid=32033719"><img
                          src="https://salt.tikicdn.com/cache/200x200/ts/product/0c/62/39/31879ad1c9cf92b35e58749268ba4ff7.jpg"
                          alt="Điện Thoại iPhone 11 64GB  - Hàng  Chính Hãng - Đen"></a>
                    </div>
                    <div class="product-item__wrap-content">
                      <div class="product-info">
                        <div class="product-info_wrap">
                          <a class="product-info_wrap-name"
                            href="/dien-thoai-iphone-11-64gb-hang-chinh-hang-den-p32033718.html?spid=32033719">Điện
                            Thoại iPhone 11 64GB - Hàng Chính Hãng - Đen
                          </a>
                          <p class="product-info_wrap-badge"></p>
                          <p class="product-info_wrap-action">
                            <span class="product-delete">Xóa</span>
                            <span class="product-buy-later">Để dành mua sau</span>
                          </p>
                        </div>
                        <div class="product-info_details">
                          <div class="product-info_details-prices">
                            <p class="real-prices">16.500.000đ</p>
                            <p class="discount-prices">
                              <del>22.990.000đ</del>
                              <span class="percent-prices">-28%</span>
                            </p>
                          </div>
                          <div class="product-info_details-qty">
                            <div class="qty">
                              <span (click)="dec()" class="qty-decrease qty-button qty-disable">-</span>
                              <input type="tel" class="qty-input" value="{{counter}}" (keyup)=getVal($event)>
                              <span (click)="inc()" class="qty-increase qty-button">+</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="product-item__gift"></ul>
                </li>
                <li class="product-item">
                  <div class="product-item__wrap">
                    <div class="product-item__wrap-img">
                      <a href="/dien-thoai-iphone-11-64gb-hang-chinh-hang-den-p32033718.html?spid=32033719"><img
                          src="https://salt.tikicdn.com/cache/200x200/ts/product/0c/62/39/31879ad1c9cf92b35e58749268ba4ff7.jpg"
                          alt="Điện Thoại iPhone 11 64GB  - Hàng  Chính Hãng - Đen"></a>
                    </div>
                    <div class="product-item__wrap-content">
                      <div class="product-info">
                        <div class="product-info_wrap">
                          <a class="product-info_wrap-name"
                            href="/dien-thoai-iphone-11-64gb-hang-chinh-hang-den-p32033718.html?spid=32033719">Điện
                            Thoại iPhone 11 64GB - Hàng Chính Hãng - Đen
                          </a>
                          <p class="product-info_wrap-badge"></p>
                          <p class="product-info_wrap-action">
                            <span class="product-delete">Xóa</span>
                            <span class="product-buy-later">Để dành mua sau</span>
                          </p>
                        </div>
                        <div class="product-info_details">
                          <div class="product-info_details-prices">
                            <p class="real-prices">16.500.000đ</p>
                            <p class="discount-prices">
                              <del>22.990.000đ</del>
                              <span class="percent-prices">-28%</span>
                            </p>
                          </div>
                          <div class="product-info_details-qty">
                            <div class="qty">
                              <span (click)="dec()" class="qty-decrease qty-button qty-disable">-</span>
                              <input type="tel" class="qty-input" value="{{counter}}" (keyup)=getVal($event)>
                              <span (click)="inc()" class="qty-increase qty-button">+</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="product-item__gift"></ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="cart-payment">
          <div class="promotion">
            <div class="promotion-title">
              <h6>
                Mã Khuyến Mãi
              </h6>
              <span>Có thể chọn 2</span>
            </div>
            <div class="promotion-input">
              <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg">
              Chọn hoặc nhập Khuyến mãi
            </div>
          </div>
          <div class="total">
            <div class="total-origin">
              <h6>Tạm tính</h6>
              <span>17.490.000đ</span>
            </div>
            <div class="total-pay">
              <h6>Thành tiền</h6>
              <span>
                17.490.000đ
                <i>(Đã bao gồm VAT nếu có)</i>
              </span>
            </div>
          </div>
          <button class="btn btn-order">Tiến hành đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cart-empty d-none">
  <div class="padding-15">
    <div class="message">
      <span>Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại.</span>
    </div>
    <div class="cart-wrap">
      <div class="title">Giỏ hàng
        <span>(0 sản phẩm)</span>
      </div>
      <div class="cart-content">
        <img class="cart-content_image" src="assets/images/empty-cart.png" alt="empty">
        <p>Không có sản phẩm nào trong giỏ hàng của bạn.</p>
        <a class="cart-content_continue" href="">
          Tiếp tục mua sắm
        </a>
      </div>
    </div>

  </div>
</section>