<footer>
  <div class="padding-15">
    <div style="display: flex; justify-content: space-between;">
      <div class="col">
        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
        <p class="hotline">Hotline chăm sóc khách hàng: <a href="tel:1900-6035">1900-6035</a><span
            class="small-text">(1000đ/phút , 8-21h kể cả T7, CN)</span></p><a rel="noreferrer"
          href="https://hotro.tiki.vn/hc/vi" class="small-text" target="_blank">Các câu hỏi thường gặp</a><a
          rel="noreferrer" href="https://hotro.tiki.vn/hc/vi/requests/new" class="small-text" target="_blank">Gửi yêu
          cầu hỗ trợ</a><a rel="noreferrer" href="https://hotro.tiki.vn/hc/vi/categories/200126644" class="small-text"
          target="_blank">Hướng dẫn đặt hàng</a><a rel="noreferrer"
          href="https://hotro.tiki.vn/hc/vi/categories/200123960" class="small-text" target="_blank">Phương thức vận
          chuyển</a><a rel="noreferrer" href="https://tiki.vn/doi-tra-de-dang" class="small-text" target="_blank">Chính
          sách đổi trả</a><a rel="noreferrer" href="https://tiki.vn/chuong-trinh/tra-gop" class="small-text"
          target="_blank">Hướng dẫn mua trả góp</a><a rel="noreferrer"
          href="https://hotro.tiki.vn/hc/vi/articles/360000822643" class="small-text" target="_blank">Chính sách hàng
          nhập khẩu</a>
        <p class="security">Hỗ trợ khách hàng: <a href="mailto:hotro@tiki.vn">hotro@tiki.vn</a></p>
        <p class="security">Báo lỗi bảo mật: <a href="mailto:security@tiki.vn">security@tiki.vn</a></p>
      </div>
      <div class="col">
        <h4>VỀ TIKI</h4>
        <a rel="noreferrer" href="https://tiki.vn/gioi-thieu-ve-tiki" class="small-text" target="_blank">Giới thiệu
          Tiki</a><a rel="noreferrer" href="https://tuyendung.tiki.vn" class="small-text" target="_blank">Tuyển
          Dụng</a><a rel="noreferrer" href="https://tiki.vn/bao-mat-thanh-toan" class="small-text" target="_blank">Chính
          sách bảo mật thanh toán</a><a rel="noreferrer" href="https://tiki.vn/bao-mat-thong-tin-ca-nhan"
          class="small-text" target="_blank">Chính sách bảo mật thông
          tin cá nhân</a><a rel="noreferrer" href="https://hotro.tiki.vn/hc/vi/articles/115005575826" class="small-text"
          target="_blank">Chính sách giải quyết khiếu nại</a><a rel="noreferrer"
          href="https://hotro.tiki.vn/hc/vi/articles/201971214" class="small-text" target="_blank">Điều khoản sử
          dụng</a><a rel="noreferrer"
          href="https://hotro.tiki.vn/hc/vi/articles/201710754-Tiki-Xu-l%C3%A0-g%C3%AC-Gi%C3%A1-tr%E1%BB%8B-quy-%C4%91%E1%BB%95i-nh%C6%B0-th%E1%BA%BF-n%C3%A0o"
          class="small-text" target="_blank">Giới thiệu Tiki Xu</a><a rel="noreferrer"
          href="https://tiki.vn/chuong-trinh/ban-hang-doanh-nghiep" class="small-text" target="_blank">Bán hàng doanh
          nghiệp</a>
      </div>
      <div class="col">
        <h4>HỢP TÁC VÀ LIÊN KẾT</h4><a rel="noreferrer" href="https://tiki.vn/quy-che-hoat-dong-sgdtmdt"
          class="small-text" target="_blank">Quy chế hoạt động Sàn GDTMĐT</a><a rel="noreferrer"
          href="https://tiki.vn/ban-hang-cung-tiki" class="small-text" target="_blank">Bán hàng cùng Tiki</a>
      </div>
      <div class="col">
        <h4>PHƯƠNG THỨC THANH TOÁN</h4>
        <p><img class="icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/visa.svg" width="54"
            alt=""><img class="icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/mastercard.svg"
            width="54" alt=""><img class="icon"
            src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/jcb.svg" width="54" alt=""><img
            class="icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/cash.svg" width="54"
            alt=""><img class="icon"
            src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/internet-banking.svg" width="54"
            alt=""><img class="icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/installment.svg"
            width="54" alt=""></p>
      </div>
      <div class="col">
        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
        <p>
          <a rel="noreferrer" href="https://www.facebook.com/tiki.vn/" class="icon" target="_blank" title="Facebook">
            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/fb.svg" width="32" alt="">
          </a>
          <a rel="noreferrer" href="https://www.youtube.com/user/TikiVBlog" class="icon" target="_blank"
            title="Youtube">
            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/youtube.svg" width="32" alt="">
          </a>
        </p>
        <h4 class="store-title">TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
        <p><a rel="noreferrer" href="https://itunes.apple.com/vn/app/id958100553" class="icon" target="_blank"
            aria-label=""><img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/appstore.png"
              width="134" alt=""></a><a rel="noreferrer"
            href="https://play.google.com/store/apps/details?id=vn.tiki.app.tikiandroid" class="icon" target="_blank"
            aria-label=""><img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/playstore.png"
              width="134" alt=""></a></p>
      </div>
    </div>
  </div>
</footer>
